.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 2px solid;
    border-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: white;
    span{
        &:first-child{
            font-weight: bold;
        }
        &:last-child{
            font-size: 14px;
        }
    }
}